nms-debug-module {
	label {
		padding: 4px;
		display: block;
	}

	.fa-warning {
		margin-right:5px;
	}

	.error {
		color: red
	}

	.top-menu {
		background-color: whitesmoke;
	}

	.main-contents {
		height: 100%;
	}

	#run-button {
		color: white; 
		height: 40px; 
		width: 150px;

		i {
			margin-right:5px
		}
	}

	.progress-container {
		background-color: whitesmoke; 
		position: relative; 
		top: -5px; 
		min-height: 5px
	}

	.CodeMirror.cm-s-twilight {
		border: solid 1pt whitesmoke;
	}

	ui-codemirror {
		position: relative;

		width: 100%;
		height: calc(100% - 30px);
		display: block;

		> .CodeMirror.cm-s-twilight {
			position: absolute;
			height: 100%;
			width: 100%;
		}
	}

	.report {
		position: relative;

		>label {
			height: 17px;
			display: block;
		}
		>div {
			position: absolute; 
			width: calc(100% - 2px);
			height: calc(100% - 25px);
		}

		iframe {
			width: 100%;
			height: 100%;
			border: none;
		}

		.CodeMirror.cm-s-twilight {
			height: 100%;
		}
	}
}