<form  name="form" layout="column">
	<div class="top-menu" layout="column">
		<div layout="row" layout-align="start center">
			<md-button
				id="run-button"
				ng-disabled="!form.input.$valid" id="run" 
				class="md-raised md-hue-3 md-accent" 
				ng-click="run()"><i class="fa fa-refresh"></i> Run</md-button>
			<md-switch
				style="color:black"
				ng-model="context.useEditor" 
				aria-label="Editor"
				class="md-warn">
			    Editor
			</md-switch>
		</div>
		<div flex class="progress-container">
			<md-progress-linear ng-show="isCalculationRunning" md-mode="indeterminate"></md-progress-linear>
		</div>
	</div>
	<div layout="row" class="main-contents">
		<nms-scene-editor 
			ng-show="context.useEditor"
			style="position: absolute; height: calc(100% - 60px); width: 100%"
			link="module.frontendLink" 
			module="module"></nms-scene-editor>
		<div flex="50" ng-show="!context.useEditor" layout="column" style="position: relative">
			<div flex="50" style="position: absolute; height: 50%; width: calc(100% - 2px);">
				<label>Inputs <span class="error" ng-if="!form.input.$valid"><i class="fa fa-warning"></i> Invalid JSON</span></label>
				<ui-codemirror
					ui-codemirror-opts="editorOptions" 
					json-valid 
					name="input"
					ng-model="input"></ui-codemirror>
			</div>
			<div flex="50" style="position: absolute; height: 50%; width: calc(100% - 2px); top: 50%">
				<label>Results <span class="error" ng-if="runError"><i class="fa fa-warning"></i> Error</span></label>
				<ui-codemirror
					ui-codemirror-opts="resultOptions"
					json-valid 
					ng-model="result"></ui-codemirror>
			</div>
		</div>
		<div flex="50" ng-show="!context.useEditor" layout="column" style="position: relative">
			<div class="report" flex  style="position: absolute; height: 100%; width: calc(100% - 2px);">
				<label>Report</label>
				<div>
					<iframe ng-if="pdfUrl" src="{{pdfUrl}}" type="application/pdf"></iframe>
					<ui-codemirror
						ng-if="compileError"
						ui-codemirror-opts="shellOptions"
						ng-model="compileError"></ui-codemirror>
				</div>
			</div>
		</div>
	</div>
</form>