<div class="oak-table-container">
	<table class="oak-table-header">
        <tbody style="width: 100%">
    		<tr class="oak-table-row" ng-repeat="row in ctrl.headerRows">
    			<td class="oak-table-cell" ng-repeat="cell in row">
    				<span>{{cell.entity}}</span>
    			</td>
    			<td class="oak-table-minus" ng-if="ctrl.config.rightColumnRowEditor"></td>
    		</tr>
        </tbody>
	</table>
	<div class="oak-table-body">
		<table>
			<tr class="oak-table-row" ng-repeat="row in ctrl.rows">
				<td class="oak-table-cell" ng-repeat="cell in row">
					<input oak-table-cell type="text" ng-if="!cell.column.readOnly" ng-model="cell.entity" ng-required="ctrl.allRequired"/>
					<span ng-if="cell.column.readOnly" oak-bind-entity="cell.column.rowEntity"></span>
				</td>
				<td class="oak-table-minus" ng-if="ctrl.config.rightColumnRowEditor">
					<minus-button ng-if="$index !== 0" ng-click="ctrl.popRow(row[0].row.index)"></minus-button>
				</td>
			</tr>
            <tr class="oak-table-row">
				<td class="oak-table-cell" ng-repeat="cell in ctrl.lastRow">
					<input oak-table-cell last-row type="text" ng-if="!cell.column.readOnly" ng-model="ctrl.mock" />
					<span ng-if="cell.column.readOnly" last-row oak-bind-entity="cell.column.rowEntity"></span>
				</td>
				<td class="oak-table-minus" ng-if="ctrl.config.rightColumnRowEditor">
				</td>
			</tr>
		</table>
	</div>
</div>
