@import "./_flexbox";

*[oak-table] {
	@include flexbox;
	@include flex-direction(column);
	@include flex(0, 0, auto);
}

.oak-table-container {
	@include flexbox;
	@include flex-direction(column);

	table {
		border-collapse: collapse;
		border-spacing: 0px;
	}

	.oak-table-body, .oak-table-header{
		@include flexbox;
		@include flex(1, 1, auto);
		width: 100%;
	}

	.oak-table-body {
		overflow-y: auto;
		height: 300px;
		table {
			@include flexbox;
			@include flex(1, 1, auto);
		}
	}

	.oak-table-row {
		@include flexbox;
		@include flex-direction(row);
		@include flex-wrap(nowrap);
		@include align-items(center);
		max-height: 30px;
	}

	.oak-table-minus {
		width: 40px;
	}

	.oak-table-cell {
		@include flex;
		@include flex-grow(1);
		@include flex-shrink(1);

		padding: 0;
		margin: 0;

		min-width: 20px;
		min-height: 20px;

		input {
			width: 100%;
			height: 30px;
			padding: 0;
			margin: 0;
		}
	}
}
