.module-nav-left {

	background-color: #eee;
	padding-right: 0px;

	ul {
		list-style: none;
	}

	.md-button {
		text-transform: none;
		margin: 2px 0px;
		border-radius: 0px;
		text-align: left;
		padding-left: 6px;
		border-left: 4px solid #eee;

		&:hover, &.active {
			color: rgb(96,125,139);
			background-color: white;
			border-left: 4px solid rgb(96,125,139);
		}

	}

	md-list-item {
		min-height: 0px;
	}

}