<nav class="module-nav-left" flex="15">
	<md-list ng-cloak>
	  <md-list-item ng-repeat="tab in _tabs">
	  	<md-button layout-fill class="btn1" ng-class="{active:isActiveTab(tab.url)}" 
	   ng-click="onClickTab(tab)">{{tab.title}}</md-button>
	  </md-list-item>
	</md-list>
</nav>